<div class="dialogContainer">
    <div class="logo">
        <img width="270" src="assets/images/Jibs-png-02.png">
    </div>

    <input id="fileInput" type="file" class="ng-hide">
    <md-button id="uploadButton"
               class="md-raised md-primary">
        Choose file
    </md-button>
    <!--<md-input-container md-no-float>-->
        <!--<input id="textInput" ng-model="fileName" type="text" placeholder="No file chosen" ng-readonly="true">-->
    <!--</md-input-container>-->

    <!--<form ng-submit="firstQuestion($event)">-->
        <!--<input type="text" class="textBox" ng-model="userQuestion" placeholder="I want to send a mail to Jibs tomorrow at 13:00">-->
        <!--<md-button class="mainButton" type="submit">-->
            <!--Go!-->
        <!--</md-button>-->
    <!--</form>-->
</div>