html, body {
    font-family: 'Open Sans', sans-serif;
    background: white;
    /*background: #dde7ea;*/
}

input:focus {
    border: none !important;
}

a {
    text-decoration: none !important;
}

button {
    border: 0;
    padding: 0;
    background: white;
}

.text-center {
    text-align: center;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.uploadContainer {
    padding-top: 50px;
    width: 560px;
}

.main-container {
    width: 100%;
    padding: 20px;
    margin: 60px auto;
    background-color: white;
}

.album-cover img {
    -webkit-box-shadow: 0px 5px 8px 2px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 5px 8px 2px rgba(0,0,0,0.15);
    box-shadow: 0px 5px 8px 2px rgba(0,0,0,0.15);
    width: 320px;
    height: 320px;
    margin-bottom: 20px;
}

.processCircle {
    margin: 60px auto 10px;
}

.processingContainer {
    background-color: white;
}

.uploadContainer {
    background-color: white;
    width: 640px;
    margin: 0;
}

.song-title h1 {
    margin: 8px;
}

.song-details li {
    font-size: 1.3em;
    margin: 14px 0;
}

.art-piece {
    height: 188px;
    margin-top: 50px;
    background: rgb(243, 243, 248);
    padding: 24px;
    border-radius: 10px;
    text-align: left;
}

.art-piece img {
     width: 140px;
     height: 140px;
     float: left;
 }

.art-piece ul {
    width: 420px;
    float: right;
    font-size: 1.3em;
}

.art-piece li {
    margin-top: 8px;
}

.art-piece h3 {
    margin: 0 0 20px;
}

.color-example {
    height: 22px;
    width: 22px;
    border-radius: 6px;
    /*border: 2px solid white;*/
    -webkit-box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.1);
    box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.1);

}
.color-example {
    margin-top: 8px;
}

.upload-button span {
    font-size: 1.5em;
    font-weight: bold;
    padding: 20px 20px;
}

@media (min-width: 720px) {
    .main-container {
        width: 680px;
    }
}

